:root {
  --primary:#081A51;
  --secondary: #33437E;
  --background: #ECEEF9;
  --card-background: #FFFFFF;
  --card-background-secondary: #F7F9FB;

  --text-primary: #364E65;
  --text-secondary: #FFFFFF;
  --text-light: #8f959b;
  --text-link: #3d58f1;
  --text-error: red;
  --success: #30D988;
}



