.container {
  padding: 25px;
}

.table-container {
  margin: 20px;
}

.score-table {
  width: 100%;
  border-collapse: collapse;
}

.score-table th, .score-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.score-table th {
  background-color: #f2f2f2;
}

.text-green {
  color: var(--success);
}

.text-red {
  color: var(--text-error);
}

th {
  font-weight: 600 !important;
}
